@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Impact, sans-serif;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-calculator {
    border: 1px solid black;
    border-radius: 1%;
    padding: 32px 16px;
    max-width: 312px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(34, 34, 46);
}

.display {
    border: 1px solid black;
    height: 64px;
    padding: 14px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: rgba(118, 130, 110, 0.891);
}

.firstrow {
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.otherrows {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

button {
    width: 64px;
    height: 64px;
    color: white;
    background-color: darkslategray;
    font-weight: 1000;
    font-size: 24px;
    border-radius: 50%;
}

.footer {
    padding: 8px;
    text-align: center;
    font-weight: 500;
    font-family: serif;
}

#allClearKey {
    background-color: tomato;
}

.numericKeys,
#decimalPointKey {
    background-color: lightslategray;
}

#branding {
    align-self: center;
    font-size: 32px;
    color: white;
    font-family: 'Limelight', Impact, sans-serif;
    
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
    color: white;
    font-size: 24px;
    font-family: 'Limelight', Impact, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.header {
    padding: 16px 16px;
    background-color: rgba(34, 34, 46, 0.604);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Limelight', Impact, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: white;
}


